body {
	color: #000051;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, sans-serif;
	background-repeat: no-repeat; 
}

footer {
	text-decoration: none;
	margin-left: 130px;
	margin-top: 20px;
}


.nav_text {
	color: #000000;
	background-color: #ffffff;
	opacity: 0.7;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	margin-top: 10px;
	padding: 20px;
	font-size: 1.5em; 
	text-align: center;
	border-radius: 15px;
	border: 1px solid #000000;

}

#wrapper { 
	background-color: #FFCC00;
	background-image: linear-gradient(to bottom, #FFCC00, #FFFFC9);
	text-decoration: none;
	margin-top: 10px;
	margin-left: auto; 
	margin-right: auto; 
	background-repeat: no-repeat;
	width: 1000px; 
	padding: 30px;
	border: 1px solid #000000;
	border-radius: 15px;
	box-shadow: 10px 10px 10px #828282;
}

#h1 {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 2em; 
	color: #FFFFFF;
	background-color: #000056;
	background-image: linear-gradient(to bottom, #C2FEFE, #000056);
	text-decoration: none;
	background-repeat: no-repeat;
	margin-top: 0px;
	max-width: 750px; 
	border: 1px solid #828282;
 	padding: 30px; 
 	border-radius: 15px;
}

#p {
	margin-left: 50px;
	margin-bottom: 15px;
}

#morning {
	background-image: url("../images/morning.jpg");
	background-color: #FFFFFF;
	opacity: 0.7;
	background-repeat: no-repeat;
	margin-left: 50px;
	width: 190px; 
	height: 90px;
	padding: 30px;
	border-radius: 10px;
	border: 1px solid #828282;
	margin-bottom: 10px;
}

#afternoon {
	background-image: url("../images/afternoon.jpg");
	background-color: #FFFFFF;
	opacity: 0.7;
	background-repeat: no-repeat;
	margin-left: 50px;
	width: 190px; 
	height: 90px;
	padding: 30px;
	border-radius: 10px;
	border: 1px solid #828282;
	margin-bottom: 10px;
}

#evening {
	background-image: url("../images/evening.jpg");
	background-color: #FFFFFF;
	opacity: 0.7;
	background-repeat: no-repeat;
	margin-left: 50px;
	width: 190px; 
	height: 90px;
	padding: 30px;
	border-radius: 10px;
	border: 1px solid #828282;
	margin-bottom: 10px;
}

#online {
	background-image: url("../images/online.jpg");
	background-color: #FFFFFF;
	opacity: 0.7;
	background-repeat: no-repeat;
	margin-left: 50px;
	width: 190px; 
	height: 90px;
	padding: 30px;
	border-radius: 10px;
	border: 1px solid #828282;
	margin-bottom: 10px;
}


tr:nth-child(even){
	color: rgb(248,216,96);
    background-color: rgb(40,50,115);

}

#th {
	color: rgb(248,216,96);
    background-color: rgb(40,50,115);
}

tr:nth-child(odd){
	
    background-color: rgb(246,207,70);

}

/*tr :nth-child(odd){ 
	color: rgb(100,124,165);
	background-color: rgb(246,207,70);

}

tr :nth-child(even){
	color: rgb(100,124,165);
	background-color: rgb(40,50,115);
}*/