h1 {
   background-color: gray;
   color: white;
   display: block;
   padding: 5px 10px;
   border-radius: 5px;
}

h2 {
   background-color: teal;
   color: white;
   display: block;
   padding: 10px 15px;
   border-radius: 5px;
   display: inline;
}

p {
   padding: 10px;
   border-radius: 5px;
   margin: 10px
}

li {
   background-color: teal;
   color: white;
   padding: 10px 15px;
   margin: 10px;
   width: 100px;
}

ul {
   margin-top: 35px;
}

li > span {
   color: red;
}

nav ul li {
   display: inline-block;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   width: 165px;
   text-align: center;
   margin: 5px;
}

.inlineImages {
   display: flex;
}

img {
   width: 400px;
}

.bg-red {
   background-color: red;
}

.numbers {
   display: inline;
}

#wrapper {
   width: 500px;
   margin: 0 auto;
}

#preview {
   position: absolute;
}

#slideshow {
	width: 400px;
	height: 400px;
	position: relative;
	overflow: hidden;
}