h1 {
   background-color: gray;
   color: white;
   display: block;
   padding: 5px 10px;
   border-radius: 5px;
}

h2 {
   background-color: teal;
   color: white;
   display: block;
   padding: 10px 15px;
   border-radius: 5px;
   display: inline;
}

li {
   background-color: teal;
   color: white;
   padding: 10px 15px;
   margin: 10px;
   width: 110px;
}

li a {
   color: white;
}

ul {
   margin-top: 35px;
}

li > span {
   color: red;
}

nav ul li {
   display: inline-block;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   width: 165px;
   text-align: center;
   margin: 5px;
}

img {
   width: 400px;
}

footer {
   margin-top: 50px;
   display: flex;
   justify-content: center;
}

footer a {
   margin-left:5px;
   margin-right: 5px;
}

#jquery-load-nav ul li a {
   color: aliceblue;
}

#jquery-load-nav ul li {
   display: inline;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   width: 165px;
   text-align: center;
   margin: 5px;
}

.inlineImages {
   display: flex;
   flex-direction: column;
}

.rowImages {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.rowImages div {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px;
   width: 410px;
}

.bg-red {
   background-color: red;
}

.numbers {
   display: inline;
}

#wrapper {
   width: 700px;
   margin: 0 auto;
}

#j-load-wrapper {
   width: 900px;
   margin: 0 auto;
}

#preview {
   position: absolute;
}

#slideshow {
	width: 400px;
	height: 400px;
	position: relative;
   overflow: hidden;
   margin: 0 auto;
}

#linklist {
   display: flex;
}

#codeLang {
   width: 50%;
}

#bgswitcher {
   height: 600px;
}

#bgswitcher div:first-child {
   background-repeat: no-repeat;
   height: 600px;
}

.cal-date {
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.flex-col {
   display: flex;
   flex-direction: column;
}

.flex-row {
   display: flex;
   flex-direction: row;
   margin-bottom: 5px;
}

.error {
   background-color: rgba(253, 253, 0, 0.699);
}

.error-parent {
   background: rgba(247, 0, 41, 0.705);
   padding-bottom: 10px;
}

.form-user-info {
   width: 100%;
}

.no-js div#err-msg:after {
   content: "Javascript is turned off, please allow Javascript to run otherwise this page will not display correctly."
}

.wrap-it {
   flex-wrap: wrap;
}

.flex-row input,
.flex-row label {
   margin: 0 7px;
}

.space-around {
   justify-content: space-around;
}

.qr {
   height:300px;
}

.puppy-img {
   padding: 10px 0;
}

.plugin {
   width: 300px;
   border: thick solid gray;
   border-radius: 15px;
   margin: 30px 0px 0px 0px;
   padding: 7px;
}

.plugin h3 {
   text-align: center;
   color: white;
   background-color: teal;
   margin: 0px;
   padding: 5px;
}

hr {
   margin: 30px;
   color: gray;
}

