#wrapper {
   margin: 30px 50px 0 30px;
}

#map {
   margin: 0 auto;
   height: 400px;
}

nav {
   background-color: aqua;
   padding: 1px;
}

nav ul {
   display: flex;
   place-content: space-around;
   list-style-type: none;
}

header {
   margin: 20px;
   background-color: darkgrey;
   padding: 1px 0 1px 20px;
}