h1 {
   background-color: gray;
   color: white;
   display: block;
   padding: 5px 10px;
   border-radius: 5px;
}

h2 {
   background-color: teal;
   color: white;
   display: block;
   padding: 10px 15px;
   border-radius: 5px;
   display: inline;
}

#jquery-load-nav ul li a {
   color: aliceblue;
}

li {
   background-color: teal;
   color: white;
   padding: 10px 15px;
   margin: 10px;
   width: 110px;
}

ul {
   margin-top: 35px;
}

li > span {
   color: red;
}

nav {
   display: inline-block;
   border-radius: 5px;
   width: 165px;
   text-align: center;
   margin: 0px 0px 25px 0px;
   background-color: indianred;
   padding: 3px;
}

#jquery-load-nav ul li {
   display: inline;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
   width: 165px;
   text-align: center;
   margin: 5px;
}

.inlineImages {
   display: flex;
   flex-direction: column;
}

.rowImages {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.rowImages div {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 20px;
   width: 410px;
}

img {
   width: 400px;
}

.bg-red {
   background-color: red;
}

.numbers {
   display: inline;
}

#wrapper {
   width: 700px;
   margin: 0 auto;
}

#j-load-wrapper {
   width: 900px;
   margin: 0 auto;
}

#preview {
   position: absolute;
}

#slideshow {
	width: 400px;
	height: 400px;
	position: relative;
   overflow: hidden;
   margin: 0 auto;
}

#linklist {
   display: flex;
}

footer {
   margin-top: 50px;
   display: flex;
   justify-content: center;
}

footer a {
   margin-left:5px;
   margin-right: 5px;
}

.flex-col {
   display: flex;
   flex-direction: column;
}

.flex-row {
   display: flex;
   flex-direction: row;
   margin-bottom: 5px;
}

.error {
   background-color: rgba(253, 253, 0, 0.699);
}

.error-parent {
   background: rgba(247, 0, 41, 0.705);
   padding-bottom: 10px;
}
